.frag {
    margin: 0 auto;
}

.container {
    width: 90vw;
    margin: 0 auto;
    padding: 20px;
    border-color: orange;
    background-color: white;
    border: 3px solid orange;
    margin-top: 100px;
}

.title {
    width: 80vw;
    height: 40px;
    margin-bottom: 20px;
    border-color: rgba(0, 0, 0, 0.2);
}

.content {
    width: 80vw;
    height: 440px;
    margin-top: 20px;
    border-color: rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 10px
}



.btn__container {
    margin-top: 50px;
    margin-bottom: 100px;
}

.btn__cancel {
    width: 40vw;
    height: 50px;
    margin-right: 20px;
    border: none;
    background-color: #ecececdc;

}

.btn__confirm {
    width: 40vw;
    height: 50px;
    margin-left: 20px;
    border: none;
    background-color: orange;
    color: white;
}

.ImageSelect {
    text-align: center;
    padding-left: 100px;
}

.file__container {
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}

.imageContainer {
    width: 200px;
    height: 200px;
    object-fit: fill;
    margin: 10px;
}

.ImageBox {
    flex-direction: column;
}