.flex {
    display: flex;
}

.par {
    vertical-align: middle;
}

.container {
    width: 600px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    text-align: center;
    color: orange;
    font-size: 40px;
    padding: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.boxContainer {
    border-left: orange;
}

.box {
    width: 600px;
    height: 60px;
    margin-top: 10px;
    cursor: auto;
}

.loginBtn{
    width: 610px;
    height: 60px;
    margin-top: 15px;
    font-size: 20px;
    background-color: orange;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    border: none;
}

.one{

    display: flex;
    font-size: 20px;
}

.two{
    margin-left: 2px;
    margin-right: 293px;
}

.three {
    margin-right: 15px;
}

.four {
    margin-left: 15px;
}