.Tab-Bar {
    background: transparent;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    white-space: nowrap;
    margin-top: 80px;

  /* padding: 1rem; */
  /* background: transparent;
  height: 70px;



  display: flex; */
  /* background-origin: border-box;
  border-top-width: 0.1px;
  border-top-style: solid;
  border-top-color: lightgray;
   */
}

.Tab li {
    font-size: 1rem;
    font-weight: 300;
    display: inline-block;
    color: black;
    padding: 1rem;
    margin-left: 50px;
    margin-right: 50px;
    border-top: 5px;
    border-top-style: solid;
    border-top-color: rgba(243, 156, 18, 0.22);

}

.Tab li.active {
  width: fit-content;
  height: 100%;
  border-top: 5px;
  border-top-style: solid;
  border-top-color: rgb(243, 156, 18);

}
